/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

@tailwind base;
@tailwind components;
@tailwind utilities;

.button{
  @apply bg-fuchsia-400 hover:bg-fuchsia-500 text-white  border-transparent border-2 rounded-md p-1 m-2 relative left-1/4 w-1/4
}

.form-control{
  @apply w-1/4 m-2 relative left-1/4 
}

.container{
  @apply border-fuchsia-600 border-[0.5px] rounded w-full p-1
}